img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

.menu {
    color: white;
    text-decoration: none;
    align-content: center;
    padding-left: 5em;
    padding-right: 2em;

       
}

.menu:hover {
    color: gray
}

.logo {
    padding-left: 2em;
    width: 5%;
}

